* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard, sans-serif;
  background: #ffffff;
  color: #17211e;
}

button,
textarea {
  border: none;
  background: none;
  font-family: inherit;
}

/* 헤더 */
.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.backButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 120%;
  margin-right: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.backIcon {
  font-size: 20px;
  color: #17211e;
  cursor: pointer;
}

/* 전체 페이지 */
.lessonPage {
  width: 100vw;
  margin: 0;
  padding: 15px 30px 20px;
  display: flex;
  flex-direction: column;
}

.lessonIntro {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-bottom: 20px;
}

.lessonHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lessonBadge {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: 27px;
  padding: 4px 12px;

  border-radius: 200px;
  background: #20cdb1;
  opacity: 0.8;

  color: #fff;
  font-size: 16px;
  font-weight: 800;
  line-height: 120%;
}

.lessonTitle {
  color: #17211e;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.lessonContent {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lessonDescription {
  color: rgba(23, 33, 30, 0.6);
  font-size: 14px;
  line-height: 120%;
}

.lessonInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.infoLabel {
  color: rgba(23, 33, 30, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.infoValue {
  color: #17211e;
  font-size: 14px;
  line-height: 120%;
  text-align: right;
}

/* 구분선 */
.divider {
  border: none;
  border-top: 1px solid #e1e7e4;
}

/* 수업 3가지 (질문, 답변) */
.questionSection {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  gap: 46px;
}

.questionItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 질문 */
.questionHeader {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.questionTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #20cdb1;
}

.questionDescription {
  font-size: 16px;
  line-height: 120%;
}

/* 답변 */
.answerBox {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.answerInput {
  width: 100%;
  height: 99px;
  resize: none;
  border-radius: 12px;
  border: 1px solid #e1e7e4;
  background: #f5f7f6;
  padding: 15px 16px;
  font-size: 16px;
  font-family: inherit;
}

.answerInput::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/* 입력한 글자수 / 글자수 제한 */
.characterCount {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: rgba(23, 33, 30, 0.6);
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 8px;
}

/* CTA 버튼 (다음 페이지로 이동) */
.completeButton {
  width: 334px;
  padding: 16px;
  border-radius: 16px;
  background: #f5f7f6;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  color: rgba(23, 33, 30, 0.6);
  font-size: 18px;
  font-weight: 600;
}

/* CTA 버튼 - 활성화 */
.completeButton.active {
  width: 334px;
  padding: 16px;
  border-radius: 16px;
  background: #20cdb1;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.buttonDescription {
  font-size: 14px;
  opacity: 0.6;
}
