{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/post_form.css' %}">
  <div class="post-form">
    <a href="{% url 'post_list' %}" class="back-link">←</a>
    <h2>글쓰기</h2>

    <form method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="제목을 입력해주세요." required>
      <textarea name="content" placeholder="내용을 입력해주세요." rows="8" required></textarea>
      <button type="submit" class="btn-primary">등록</button>
    </form>
  </div>
  {% endblock %}
