.tabSelection{
    display: flex;
    flex-direction: row;

    padding-left: 40px;
    padding-right: 40px;

    justify-content:space-between;
}

.tabSelected{
    color:#17211E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}