<!-- 로딩 화면 -->
{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Loading</title>

    <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF+Pro:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@500&display=swap"
    />
  </head>

  <body>
    <form class="recommendForm" action="{% url 'resultView' %}" method="post">
      {% csrf_token %}

      <img class="logo" src="{% static 'assets/logo.svg' %}" alt="로고" />
      <input type="hidden" name="next_url" value="{% url 'recommend1' %}">

      <p class="loadingMessage">추천 전공을 정리하고 있어요</p>
    </form>
    <script src="{% static 'js/loading.js' %}"></script>
  </body>
</html>
