<!-- 선택 3 - 현재 시작 조건 (내가 한 일로 어떤 변화가 생기면 가장 뿌듯할까요?) -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>잇대</title>

    <link rel="stylesheet" href="../static/css/select.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF+Pro:wght@600&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>

  <body>
    <div class="page">
      <!-- 상단 -->
      <header class="header">
        <div class="progressTop">
          <span class="material-symbols-outlined backIcon">
            arrow_back_ios_new
          </span>

          <span class="progressText">3 / 3</span>
        </div>

        <div class="progressBar">
          <div class="progressFill100"></div>
        </div>

        <div class="titleArea3">
          <h1 class="title3">
            내가 한 일로
            <span class="highlight">어떤 변화가 생기면 가장 뿌듯할까요?</span>
          </h1>

          <p class="description3">만들고 싶은 결과에 가까운 것을 골라주세요.</p>

          <span class="limitText3">* 1개 선택</span>
        </div>
      </header>

      <!-- 선택지 -->
      <main class="optionList3">
        <button class="optionCard">
          복잡한 정보와 업무가 한눈에 정리되고 빨라짐
        </button>

        <button class="optionCard">여러 사람이 프로그램을 문제없이 마침</button>

        <button class="optionCard">
          내 콘텐츠에 사람들이 관심을 보이고 반응함
        </button>

        <button class="optionCard">
          사람들이 필요한 도움을 받고 동기부여가 됨
        </button>

        <button class="optionCard">고객이 상품을 쉽게 이해하고 선택함</button>

        <button class="optionCard">앱이나 서비스의 오류와 불편이 줄어듦</button>
      </main>

      <!-- 버튼 -->
      <footer class="bottomArea">
        <button class="nextButton">내 전공 확인하기</button>
      </footer>
    </div>

    <script src="../static/js/select3.js"></script>
  </body>
</html>
