<!-- 선택 1 - 해온 경험 (가장 익숙한 경험은 무엇인가요?) -->
{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title>잇대</title>

    <!-- static 폴더에서 css 파일 불러오기 -->
    <link rel="stylesheet" href="{% static 'css/select.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF+Pro:wght@600&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>

  <body>
    <div class="page">
      <!-- 상단 -->
      <header class="header">
        <div class="progressTop">
          <span class="material-symbols-outlined backIcon">
            arrow_back_ios_new
          </span>

          <span class="progressText">1 / 3</span>
        </div>

        <div class="progressBar">
          <div class="progressFill33"></div>
        </div>

        <div class="titleArea">
          <h1 class="title">
            <span class="highlight">가장 익숙한 경험</span>은 무엇인가요?
          </h1>

          <p class="description">
            직장뿐 아니라 일상에서 해온 일도 포함해주세요.
          </p>

          <span class="limitText">* 최대 2개</span>
        </div>
      </header>

      <!-- 선택지 -->
      <main class="optionList">
        <form action="{% url 'submitAnswer' %}" method="post">
          {% csrf_token %}
          {% for choice in choices %}
            <button type="button" name="choice_id" value="{{ choice.id }}" class="optionCard">{{ choice.text }}</button>
          {% endfor %}
        </form>
      </main>

      <footer class="bottomArea">
        <!-- select2.html로 이동하는 CTA 버튼 (선택2 화면으로 이동) -->
        <button class="nextButton" data-next-url="{% url 'select2' %}">
          다음으로
        </button>
      </footer>
    </div>

    <!-- static 폴더에서 js 파일 불러오기 -->
    <script src="{% static 'js/select1.js' %}"></script>
  </body>
</html>
