<!-- 선택 1 - 해온 경험 (가장 익숙한 경험은 무엇인가요?) -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title>잇대</title>

    <link rel="stylesheet" href="../static/css/select.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF+Pro:wght@600&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>

  <body>
    <div class="page">
      <!-- 상단 -->
      <header class="header">
        <div class="progressTop">
          <span class="material-symbols-outlined backIcon">
            arrow_back_ios_new
          </span>

          <span class="progressText">1 / 3</span>
        </div>

        <div class="progressBar">
          <div class="progressFill33"></div>
        </div>

        <div class="titleArea">
          <h1 class="title">
            <span class="highlight">가장 익숙한 경험</span>은 무엇인가요?
          </h1>

          <p class="description">
            직장뿐 아니라 일상에서 해온 일도 포함해주세요.
          </p>

          <span class="limitText">* 최대 2개</span>
        </div>
      </header>

      <!-- 선택지 -->
      <main class="optionList">
        <button class="optionCard">일정·문서·비용 등을 정리함</button>

        <button class="optionCard">모임이나 행사를 준비하며 조율함</button>

        <button class="optionCard">
          글·사진·후기 등 정보를 알리고 반응을 살핌
        </button>

        <button class="optionCard">사람들에게 필요한 정보를 알려줌</button>

        <button class="optionCard">
          상품·가격·후기를 비교하고 정보를 정리함
        </button>

        <button class="optionCard">앱/웹을 사용하며 오류·불편을 발견함</button>
      </main>

      <!-- 버튼 -->
      <footer class="bottomArea">
        <button class="nextButton">다음으로</button>
      </footer>
    </div>

    <script src="../static/js/select1.js"></script>
  </body>
</html>
