<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 전공 - 담은 자료</title>

    <link rel="stylesheet" href="../../static/css/settings.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/bookmarked_materials-empty.css">
    <link rel="stylesheet" href="../../static/css/bookmarked_materials-full.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>
<div class="app">

    <div class="header">내 전공</div>

    <div class="majorCard">
        <div class="textExplain">
            <div class="majorName">콘텐츠·채널 마케팅 전공</div>
            <div class="majorExplain">
                사람들의 관심과 반응을 살펴보고,
                <br>가치를 콘텐츠로 전달하는 분야예요.
            </div>
        </div>

        <div class="majorIcon">
            <img src="../../static/assets/content-marketing-major-illustration.png" alt="">
        </div>
    </div>

    <div class="sessionProgress">
        <div class="progressBar">
            <div class="filledProgress"></div>
        </div>
        <div class="progressText">전체 과정 1 / 12 차시</div>
    </div>

    <div class="filterComponent">
        <div class="component" data-page="current-class.html">지금 할 수업</div>
        <div class="component" data-page="roadmap.html">전공 로드맵</div>
        <div class="componentActive" data-page="downloads.html">담은 자료</div>
    </div>

    <div id="emptypage" class="emptypage">
        <div class="notice">
            <div class="bigText">아직 담은 자료가 없어요.</div>
            <div class="detailText">
                자료실에서 지금 단계에 필요한
                <br/>강의와 콘텐츠를 담아보세요.
            </div>
        </div>

        <div class="moveToDownloads">
            <p>자료실 둘러보기 →</p>
        </div>
    </div>

    <div id="fullpage" class="fullpage">
        <div class="materialsGrid">
            <div class="keepMaterials">
                <div class="thumbnail">
                    <img src="../../static/assets/library/" alt="썸네일 사진"/>
                </div>

                <div class="materialExplain">
                    <div class="materialTitle">제목</div>
                    <div class="materialshort">소요 시간 등 정보</div>
                </div>
            </div>

            <div class="keepMaterials">
                <div class="thumbnail">
                    <img src="../../static/assets/library/" alt="썸네일 사진"/>
                </div>

                <div class="materialExplain">
                    <div class="materialTitle">제목</div>
                    <div class="materialshort">소요 시간 등 정보</div>
                </div>
            </div>

            <div class="keepMaterials">
                <div class="thumbnail">
                    <img src="../../static/assets/library/" alt="썸네일 사진"/>
                </div>

                <div class="materialExplain">
                    <div class="materialTitle">제목</div>
                    <div class="materialshort">소요 시간 등 정보</div>
                </div>
            </div>
        </div>
    </div>

    <footer class="tapBar">
        <div class="footerTapActive">
            <img src="../../static/assets/mymajortap-active.svg" alt="">
            <p class="tapNameActive">내 전공</p>
        </div>

        <div class="footerTap">
            <img src="../../static/assets/together-none.svg" alt="">
            <p class="tapName">함께</p>
        </div>

        <div class="footerTap">
            <img src="../../static/assets/article-none.svg" alt="">
            <p class="tapName">자료실</p>
        </div>
    </footer>

</div>

<script src="../../static/js/common.js"></script>
<script src="../../static/js/bookmarked_materials.js"></script>
</body>
</html>
