<!-- 내 전공 - 지금 할 수업 -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 전공 - 전공 로드맵</title>
    <link rel="stylesheet" href="../../static/css/settings.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/roadmap.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>
    <div class="app">
        <div class="header">내 전공</div>
    

        <div class="majorCard">
            <div class="textExplain">
                <div class="majorName">콘텐츠·채널 마케팅 전공</div>
                <div class="majorExplain">
                    사람들의 관심과 반응을 살펴보고,
                    <br/>가치를 콘텐츠로 전달하는 분야예요.
                </div>
            </div>

            <div class="majorIcon">
                <img src="../../static/assets/content-marketing-major-illustration.png" alt="콘텐츠 마케팅 일러스트"/>
            </div>
        </div>

        <div class="sessionProgress">
            <div class="progressBar">
                <div class="filledProgress"></div>
            </div>

            <div class="progressText">전체 과정 1 / 12 차시</div>
        </div>

        <div class="filterComponent">
            <div class="component">지금 할 수업</div>

            <div class="componentActive">전공 로드맵</div>
            
            <div class="component">담은 자료</div>
        </div>

        <div class="roadmapInfo">
            <div class="infoBox">
                <div class="myRoadmap">나의 전공로드맵</div>
                <div class="roadmapComposition">4단계 · 12차시</div>
            </div>

            <p>
                지금 할 수업은 ‘오늘의 학습’에서,
                <br/>전체 과정은 전공 로드맵에서 확인해보세요.
            </p>
        </div>

        <div class="roadmapStep">
            <div class="roadmapUpbox">
                <div class="sidebox">
                    <p class="mapNumber">1</p>
                    <div class="stepName">콘텐츠 감각 찾기</div>
                </div>

                <div class='roadmapStatus'>진행 중</div>
            </div>

            <div class="roadmapContent">
                내가 정보를 전했던 경험을 돌아보고, 메시지를 만들고
                <br/>반응을 개선하는 콘텐츠 업무의 기본 흐름을 경험해요.
            </div>

            <div class="rowBox">
                <div class="roadmapRow">
                    <div class="rowHead">단계</div>
                    <div class="rowBody">3차시 · 약 40분</div>
                </div>

                <div class="roadmapRow">
                    <div class="rowHead">완성할 것</div>
                    <div class="rowBody">콘텐츠 미니 포트폴리오</div>
                </div>
            </div>
        </div>

        <div class="roadmapStep">
            <div class="roadmapUpbox">
                <div class="sidebox">
                    <p class="mapNumber">2</p>
                    <div class="stepName">마케팅 이해하기</div>
                </div>

                <div class='roadmapStatus'>예정</div>
            </div>

            <div class="roadmapContent">
                누구에게 어떤 메시지를 전할지 정하고,
                <br/>목적에 맞는 채널과 반응 지표를 연결해봐요.
            </div>

            <div class="rowBox">
                <div class="roadmapRow">
                    <div class="rowHead">단계</div>
                    <div class="rowBody">3차시 · 약 45분</div>
                </div>

                <div class="roadmapRow">
                    <div class="rowHead">완성할 것</div>
                    <div class="rowBody">타깃·채널 전략 카드</div>
                </div>
            </div>
        </div>

        <div class="roadmapStep">
            <div class="roadmapUpbox">
                <div class="sidebox">
                    <p class="mapNumber">3</p>
                    <div class="stepName">콘텐츠 만들기</div>
                </div>

                <div class='roadmapStatus'>예정</div>
            </div>

            <div class="roadmapContent">
                타깃과 목표를 정하고, 짧은 콘텐츠와 발행 계획을 만들어요.
            </div>

            <div class="rowBox">
                <div class="roadmapRow">
                    <div class="rowHead">단계</div>
                    <div class="rowBody">4차시 · 약 70분</div>
                </div>

                <div class="roadmapRow">
                    <div class="rowHead">완성할 것</div>
                    <div class="rowBody">미니 콘텐츠 기획안</div>
                </div>
            </div>
        </div>

        <div class="roadmapStep">
            <div class="roadmapUpbox">
                <div class="sidebox">
                    <p class="mapNumber">4</p>
                    <div class="stepName">기회로 연결하기</div>
                </div>

                <div class='roadmapStatus'>예정</div>
            </div>

            <div class="roadmapContent">
                지금까지 만든 결과물을 정리하고, 교육·프로젝트·작은 실무 
                <br/>경험으로 이어갈 나만의 다음 행동을 정해요.
            </div>

            <div class="rowBox">
                <div class="roadmapRow">
                    <div class="rowHead">단계</div>
                    <div class="rowBody">2차시 · 약 35분</div>
                </div>

                <div class="roadmapRow">
                    <div class="rowHead">완성할 것</div>
                    <div class="rowBody">콘텐츠 마케팅 시작 계획</div>
                </div>
            </div>
        </div>

        <footer class="tapBar">
            <div class="footerTapActive">
                <img src="../../static/assets/mymajortap-active.svg" alt="내 전공 선택됨">
                <p class="tapNameActive">내 전공</p>
            </div>
    
            <div class="footerTap">
                <img src="../../static/assets/together-none.svg" alt="함께 선택안됨">
                <p class="tapName">함께</p>
            </div>
    
            <div class="footerTap">
                <img src="../../static/assets/article-none.svg" alt="자료실 선택안됨">
                <p class="tapName">자료실</p>
            </div>
        </footer>
    </div>
</body>
</html>